.indexPage {
  background: #A2C7D7;

  .title {
    color: #fff;
    padding-top: 48px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subTitle {
    color: #fff;
    margin-bottom: 48px;
  }

  .enterBtn {
    width: 60vw;
    min-width: 180px;
  }
}
